@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, rgb(97, 99, 94), rgb(175, 221, 166));
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
#root {
    display: flex;
    justify-content: center;
}
.App {
    width: 800px;
}
.post {
  width: 500px;
    display: flex;
    padding: 2px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;   
}
button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.751);
  padding: 3px;
  margin-right:5px;
}